<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <% if @videos.present? %>
        <% @videos.each do |video| %>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 video-item">
            <div class="col-md-4 item">
              <div class="card shadow-sm">
                <iframe width="100%" height="225" src="<%= video.video_url %>">
                </iframe>
              </div>
            </div>
            <div class="col-md-4 item info">
              <div class="video-title d-flex justify-content-between">
                <span><%= video.title %></span>
                <input type="hidden" value="<%= video_path(video.id) %>" class="delete-video-url">
                <button type="button" class="btn-close btn-delete-video"></button>
              </div>
              <div class="video-auth">
                <span>Share by: <%= video.auth %></span>
              </div>
              <div class="react d-flex align-items-center">
                <% if logged_in? %>
                  <div class="action">
                    <input type="hidden" value="<%= like_video_path(video.id) %>" class="react-video-url">
                    <a href="javascript:void(0)" class="like <%= video.liked?(current_user) ? 'display-none' : '' %>"><%= thumb_up %></a>
                    <a href="javascript:void(0)" class="liked <%= video.liked?(current_user) ? '' : 'display-none' %>"><%= thumb_up_filled %></a>
                    <span class="total-like"><%= video.total_like %></span>
                  </div>
                  <div class="action">
                    <input type="hidden" value="<%= dislike_video_path(video.id) %>" class="react-video-url">
                    <a href="javascript:void(0)" class="dislike <%= video.disliked?(current_user) ? 'display-none' : '' %>"><%= thumb_down %></a>
                    <a href="javascript:void(0)" class="disliked <%= video.disliked?(current_user) ? '' : 'display-none' %>"><%= thumb_down_filled %></a>
                    <span class="total-dislike"><%= video.total_dislike %></span>
                  </div>
                <% else %>
                  <div class="action">
                    <input type="hidden" value="<%= like_video_path(video.id) %>" class="react-video-url">
                    <a href="javascript:void(0)" class="like"><%= thumb_up %></a>
                    <span class="total-like"><%= video.total_like %></span>
                  </div>
                  <div class="action">
                    <input type="hidden" value="<%= dislike_video_path(video.id) %>" class="react-video-url">
                    <a href="javascript:void(0)" class="dislike"><%= thumb_down %></a>
                    <span class="total-dislike"><%= video.total_dislike %></span>
                  </div>
                <% end %>
              </div>
              <div class="desc">
                <span>Description:</span>
              </div>
              <div class="card-body">
                <p class="card-text"><%= video.description %></p>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @videos %>
      <% else %>
        <h3>No videos have been shared yet.</h3>
      <% end %>
    </div>
  </div>
</main>


