<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <% if @videos.present? %>
        <% @videos.each do |video| %>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 video-item">
            <div class="col-md-4 item">
              <div class="card shadow-sm">
                <iframe width="100%" height="225" src="<%= video.video_url %>">
                </iframe>
              </div>
            </div>
            <div class="col-md-4 item info">
              <div class="video-title">
                <span><%= video.title %></span>
              </div>
              <div class="video-auth">
                <span>Share by: <%= video.auth %></span>
              </div>
              <div class="react d-flex align-items-center">
                <% if logged_in? && video.reacted?(current_user) %>
                  <% if video.liked? current_user %>
                    <div class="total-like">
                      <a href="<%= like_video_path(video.id) %>">
                        <%= thumb_up_filled %>
                      </a>
                      <%= video.total_like %>
                    </div>
                    <div>
                      <a href="<%= dislike_video_path(video.id) %>">
                        <%= thumb_down %>
                      </a>
                      <%= video.total_dislike %>
                    </div>
                  <% else %>
                    <div class="total-like">
                      <a href="<%= like_video_path(video.id) %>">
                        <%= thumb_up %>
                      </a>
                      <%= video.total_like %>
                    </div>
                    <div>
                      <a href="<%= dislike_video_path(video.id) %>">
                        <%= thumb_down_filled %>
                      </a>
                      <%= video.total_dislike %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="total-like">
                    <a href="<%= like_video_path(video.id) %>">
                      <%= thumb_up %>
                    </a>
                    <%= video.total_like %>
                  </div>
                  <div>
                    <a href="<%= dislike_video_path(video.id) %>">
                      <%= thumb_down %>
                    </a>
                    <%= video.total_dislike %>
                  </div>
                <% end %>
              </div>
              <div class="desc">
                <span>Description:</span>
              </div>
              <div class="card-body">
                <p class="card-text"><%= video.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>No videos have been shared yet.</h3>
      <% end %>
    </div>
  </div>
</main>


